#about {
    padding: 4vw;
}

#about img{
    width: 90vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/****************************************************
*****************************************************
* MEDIUM SCREEN
*****************************************************
****************************************************/
@media (min-width: 500px) {
    #about img {
        max-width: 478px;
    }
    
    #myBlah {
        max-width: 490px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}

/***************************************************
****************************************************
* LARGE SCREEN
****************************************************
****************************************************/
@media (min-width: 900px) {
    #mahName {
        margin-top: 0px;
    }
    
    #about img{
        max-width: 500px;
        margin: 0px;
        margin-right: 60px;
        display: inline-block;
        float: left;
    }
    
    #myBlah {
        width: 260px;
        float: left;
        font-size: 110%;
    }
}