#cart {
    margin-top: 40px;
}

#item {
    display: block;
    clear: both;
}

#item img{
    float: left;
    width: 40vw;
    margin-bottom: 2vw;
    margin-right: 2vw;
}

hr{
    clear: both;
}

/****************************************************
*****************************************************
* MEDIUM SCREEN
*****************************************************
****************************************************/
@media (min-width: 500px) {
    #item h2, span{
        font-size: 4.3vw;
    }
}

/***************************************************
****************************************************
* LARGE SCREEN
****************************************************
****************************************************/
@media (min-width: 900px) {
    #item h2, span{
        font-size: 200%;
    }
}
