#cart {
    margin-top: 40px;
}

#item {
    display: block;
    clear: both;
}

#item img{
    float: left;
    width: 40vw;
    margin-bottom: 2vw;
    margin-right: 2vw;
}

hr{
    clear: both;
}

button{
    font-size: 10px;
    padding: 5px;
    border-radius: 5px;
    margin-top: 20px;
}

button:hover {
    background-color: antiquewhite;
}

#wantCheckout {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#checkoutButton{
    clear: both;
    font-size: 4vw;
    padding: 12px;
    border-radius: 5px;
    background-color: cadetblue;
    color: white;
    margin-top: 20px;
    margin-right: 20px;
    display: inline;
}

#checkoutButton:hover {
    background-color: gray;
}

/****************************************************
*****************************************************
* MEDIUM SCREEN
*****************************************************
****************************************************/
@media (min-width: 500px) {
    #item h2, span{
        font-size: 4.3vw;
    }
}

/***************************************************
****************************************************
* LARGE SCREEN
****************************************************
****************************************************/
@media (min-width: 900px) {
    #item h2, span{
        font-size: 200%;
    }
}