#product {
    margin-top: 40px;
    font-size: 3.5vw;
}

#admin {
    margin-top: 40px;
    font-size: 3.5vw;
}

input {
    display: block;
    width: 90vw;
    padding: 3px;
}

textarea {
    display: block;
}

 button {
    display: block;
    font-size: 5vw;
    padding: 3vw;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: gray;
}

button:hover {
    background-color: dimgray;
}