#product {
    margin-top: 30px;
    padding: 3vw;
}

#product img {
    width: 93vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#addCart button {
    display: block;
    font-size: 5vw;
    padding: 3vw;
    padding-left: 5vw;
    padding-right: 5vw;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: gray;
}

#addCart button:hover {
    background-color: dimgray;
}

/*****************************************************
* MEDIUM SCREEN
*****************************************************
****************************************************/
@media (min-width: 500px) {
    #product img {
        width: 50vw;
        display: inline;
        float: left;
        margin-top: 4.4vw;
        margin-right: 10px;
        margin-bottom: 20px;
    }
    
    #addCart {
        display: block;
        clear: both;
    }
}

/***************************************************
****************************************************
* LARGE SCREEN
****************************************************
****************************************************/
@media (min-width: 900px) {
    #product img {
        max-width: 500px;
    }
    
    #addCart button {
        font-size: 40px;
        padding: 20px;
        padding-left: 40px;
        padding-right: 40px;
    }
}