#shop {
    margin-top: 30px;
}

#item {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 3vw;
}

#item img{
    width: 100%;
}

#item {
    border: solid black;
    text-align: center;
    padding-bottom: 2vw;
}

#item h2 {
    margin: 4px;
}

/****************************************************
*****************************************************
* MEDIUM SCREEN
*****************************************************
****************************************************/
@media (min-width: 600px) {
    #logo {
        max-width: 120px;
    }
    
    #item {
        width: 42%;
        float: left;
    }
    
    #group {
        width: 95%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
}

/***************************************************
****************************************************
* LARGE SCREEN
****************************************************
****************************************************/
@media (min-width: 900px) {
    #item{
        max-width: 356.09px;
    }
    
    #group {
        width: 900px;
    }
}