*****************************************************
* MEDIUM SCREEN
*****************************************************
****************************************************/
@media (min-width: 600px) {
    #logo {
        max-width: 120px;
    }
    
    #item {
        width: 42%;
        float: left;
    }
    
    #group {
        width: 95%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
}

/***************************************************
****************************************************
* LARGE SCREEN
****************************************************
****************************************************/
@media (min-width: 900px) {
    #item{
        max-width: 356.09px;
    }
    
    #group {
        width: 900px;
    }
}