@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Cookie|News+Cycle|Poiret+One');

header {
    background-color: skyblue;
    padding-bottom: 10px;
}

header h1{
    margin: 0px;
    padding: 0px;
    margin-left: 2vw;
    font-size: 300%;
    font-family: 'Amatic SC', cursive;
}

#title {
    color: black;
}

#title a:link{
    text-decoration: none;
    color: black;
}

#title a:visited {
    color: black;
}

nav {
    width: 100%; 
    font-size: 90%;
}

.cNav a.icon {
    display: block;
    text-align: center;
}

.cNav li {
    display: none;
}

.cNavshrinkIt a {
    float: none;
    display: block;
}

.cNavshrinkIt li {
    text-align: center;
    margin: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.cNavshrinkIt {
    padding-left: 0px;
}

.cNavshrinkIt a.icon {
    text-align: center;
}

nav ul{
    padding-left: 0px;
}

nav a {
    color: black;
    transition: font-size 0.7s;
    padding: 10px;
}

nav a:link {
    color: black;
    text-decoration: none;
}

nav a:visited {
    color: black;
}

nav a:hover {
    font-size: 110%;
    background-color: white;
}

nav a:active {
    color: black;
}

ul{
    margin-bottom: 0px;
    margin-top: 0px;
}

.cNavshrinkIt li:nth-child(5) {
    margin-bottom: 0px;
}

body {
    font-family: 'Poiret One', cursive;
    padding: 0px;
    margin: 0px;
}

/*********home page**************/
#home img{
    width: 90vw;
    max-width: 500px;
    display: block;
    margin: auto;
    margin-top: 20px;
}

#banner {
    background-color: steelblue;
    position: relative;
    text-align: center;
    font-size: 3.6vw;
    width: 70vw;
    margin: auto;
    top: 30px;
    padding: 3px;
    
}

#banner a {
    color: white;
}

#banner a:link{
    color: white;
    text-decoration: none;
}

#banner a:active {
    color: white;
}

#banner a:hover{
    color: skyblue;
}

/****************************************************
*****************************************************
* MEDIUM SCREEN
*****************************************************
****************************************************/
@media (min-width: 500px) {
    #banner {
        font-size: 20px;
        max-width: 550px;
    }
    
    nav { 
        font-size: 2.3vw;
    }
    
    nav a {
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    nav ul{
    /*padding: 1.5%;*/
    padding: 10px;
    display: flex;
    justify-content: space-around;
    }
    
    .cNav a.icon {
    display: none;
    }
    
    .cNav li {
        display: block;
    }
}

/***************************************************
****************************************************
* LARGE SCREEN
****************************************************
****************************************************/
@media (min-width: 900px) {
    header h1{
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    
    nav { 
        font-size: 12pt;
    }
    
    nav ul{
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
    
    main {
        max-width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}
